@font-face {
    font-family: 'Open Sans';
    font-weight: bold;

    src:
        local("OpenSans-Bold"),
        url('../fonts/OpenSans-Bold.ttf') format("ttf"),
        url('../fonts/OpenSans-Bold.woff') format("woff"),
        url('../fonts\OpenSans-Bold.woff2') format("woff2");

}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    src:
        local("OpenSans-Regular"),
        url('../fonts/OpenSans-Regular.ttf') format("ttf"),
        url('../fonts/OpenSans-Regular.woff') format("woff"),
        url('../fonts/OpenSans-Regular.woff2') format("woff2");

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-width: 36rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

/* ------------------------------ */



.header {
    display: block;
    width: 100%;
    padding: 28px 0 80px;
    /* background-color: gray; */
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-right: auto;
    margin-left: auto;

}


.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
    align-items: center;
    position: relative;
    padding: 3rem 1% 2rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.header-logo {
    width: 17.8rem;

}


.menu-list-item {
    display: inline-block;
    margin-left: 3.5rem;
}

.menu-link {
    text-align: center;
    line-height: auto;
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.menu-link:hover {
    color: #b59f5b;
    /* border-bottom: 1px solid white; */
}

#menu__toggle {
    opacity: 0;
}



.headline {
    font-size: 4.5rem;
    line-height: 1.66;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding-bottom: 12rem;
    margin-top: 5rem;
    z-index: 2;

}

.container-headline {
    position: relative;
    width: 70rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;

}

/* trends   trends   trends   */

.trends {
    width: 100%;
}

.new-posts-trend {
    font-size: 2rem;
    line-height: 1.45;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    text-align: center;

}

.headline_container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.headline_container:after {
    content: "";
    display: inline-block;
    width: 6.5rem;
    height: 0.3rem;
    background-color: #e1d9bd;
    background-position: center center;

}

.trends {
    margin-top: 6rem;
}

.trends-pic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


.picture_trends {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(25% - 4px);
    position: relative;
    min-height: 32rem;
    background-color: gray;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}


.picture_trends-garden {
    background-image: url("../images/trend1.jpg");

}

.picture_trends_cheeses {
    background-image: url("../images/trend2.jpg");
}

.picture_trends_mountains {
    background-image: url("../images/trend3.jpg");

}


.picture_trends_vitamins {
    background-image: url("../images/trend4.jpg");

}

.trends_content {
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    border: 3px solid #b59f5b;
    padding: 5%;
    margin: 18px;
    z-index: 2;

}

.trends_content_header {
    width: 100%;
}

.picture_trends::after {
    content: "";
    background-color: #000000;
    opacity: 0.57;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.trends_link {
    color: white;
    font-size: 2rem;
    line-height: 1.2;
    text-transform: uppercase;
}

.trends_title-garden {
    height: auto;

}

.trends_title-cheeses {
    height: auto;

}

.trends_title-mountains {
    height: auto;

}

.trends_title-vitamins {
    height: auto;

}

/* Shop    */

.our_products {
    max-width: 1200px;
    margin-bottom: 10rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.products-pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 100%;  */
    /* max-width: 112rem;  */
    /* margin-left: auto;
    margin-right: auto; */
    padding: 0 15px;
    margin-top: 30px;

}

.card-shop {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.content_shop {
    /* display: inline-block; */
    height: auto;
    padding-top: 2.2rem;
    width: 30em;
    outline: 0.3rem solid #b59f5b;
    outline-offset: 2rem;
    flex-grow: 1;

}



.shop_description_bunny {
    font-size: 1.5rem;
    line-height: 2.2rem;
    height: auto;

}


.shop_description_pillow {
    font-size: 1.5rem;
    line-height: 2.2rem;
    height: auto;

}

.shop_description_frame {

    font-size: 1.5rem;
    line-height: 2.2rem;
    height: auto;

}

.shops_link {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.2;
    color: #000;
}

.shop_link {
    color: #b59f5b;
}

.shop_link:hover {
    color: #b59f5b;
}

.shop_button {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop_price {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
}

.old_price {
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-decoration: line-through;
}

.in_shop {
    width: 14rem;
    height: 5rem;
    background-color: #b59f5b;
    color: white;
    font-size: 1.4rem;
    line-height: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}




/* Main + Aside  Main + Aside  Main + Aside*/


.card_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 120rem;
    min-width: 36rem;
    padding-top: 6.4rem;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%
}


.sidebar {
    width: 24%;
}

.postlist {
    width: 66%;

}

.travel-health {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;
}



.card-title {
    font-family: OpenSans-Bold, sans-serif;
    text-align: left;
    line-height: 2.4rem;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;

}

.title_link {
    color: #000;
}


.title_link:hover {
    color: #b59f5b;
}


.card__date-author {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.card-name {
    font-family: OpenSans-Bold, sans-serif;
    line-height: 4rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.card-date {
    color: #888888;
    font-size: 1.2rem;
    line-height: 4rem;
}

.card-text {
    display: inline-block;
    font-family: OpenSans-Regular, sans-serif;
    width: 36.7rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding-top: 1.9rem;
}


.card-date {
    margin-right: 1.5rem;
}


.card-travel-health {
    font-size: 1.4rem;
    line-height: 4rem;
    color: #b59f5b;
    font-weight: bold;
    text-transform: uppercase;
}

.picture {

    width: 380px;
    height: 294px;
}

.frame {
    width: 46%;
    padding-left: 3rem;
    font-family: OpenSans-Bold, sans-serif;
    position: relative;
    bottom: 0.4rem;

}


.category_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 0.8rem;
}

.category_link {
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-right: 2rem;
}


.new-posts-aside {
    font-size: 1.4rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    text-align: center;

}


/* Посты с фото  Посты с фото   Посты с фото  */
.post_list {
    height: 7rem;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
    margin-top: 3rem;

}

.img_post {
    width: 70px;
}

.aside-content {
    display: block;
    text-align: left;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    width: 18.5rem;

}


.card-date-aside {
    font-size: 1.2rem;
    font-weight: normal;
    text-align: left;
    color: #a9a9a9;
    position: relative;
    bottom: 0.9rem;
}


.title-aside {
    font-family: OpenSans-Bold, sans-serif;
    vertical-align: top;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
    line-height: 1.8rem;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    bottom: 0.7rem;
}


/*  Buttons Buttons Buttons*/


.search {
    display: flex;
    margin: 4rem auto 6rem auto;
}

.form_search {
    width: calc(100% - 5rem);
}

.field {
    width: 100%;
    height: 5rem;
    padding-left: 2rem;
    border: none;
    outline: none;
    background: #f4f6f7;
    color: #000;
    font-size: 1.3rem;
    background-size: 100%;
}

.button-search {
    width: 5rem;
    height: 5rem;
    border: none;
    color: #ffffff;
    background: #b59f5b;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 1.8rem;
    background-position: center;
    cursor: pointer;
}


/*  email-button  email-button  email-button   */

.email-button #email {
    width: 100%;
    height: 4.8rem;
    padding-left: 2rem;
    border: none;
    outline: none;
    background: #f4f6f7;
    color: #000;
    font-size: 1.3rem;

}

.email-button {
    margin-top: 3rem;
}

.email-button [type="submit"] {
    font-family: OpenSans-Bold, sans-serif;
    width: 100%;
    height: 4.8rem;
    padding-left: 2rem;
    border: 1px transparent;
    outline: none;
    line-height: 4rem;
    background: #b59f5b;
    color: #fff;
    margin-top: 1.8rem;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
}

.send-email {
    position: relative;
    bottom: 1.3rem;
}


.latest_posts_sends {
    margin-bottom: 5rem;

}

/* Tags Tags Tags */
.tags_nav {
    display: flex;
    flex-flow: row wrap;
    padding-top: 0;
    padding: 0.8rem;
    margin: 0 0.3rem 0.5rem 0.3rem;
}

.card_tags {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 2.9rem;
    border: solid 0.3rem #eee;
    padding: 0.4rem 1.1rem;
    margin: 0.2rem;

}

.tags_nav_wrapper {
    margin-top: 1rem;
}

.nav_link {
    text-decoration: none;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav_link:hover {
    color: #b59f5b;
}


/* Темы  Темы Темы*/

.themes {
    margin-top: 3.5rem;
    position: relative;
    right: -0.3rem;
    padding-bottom: 0;
}

.conteiner-themes li {
    height: 4.8rem;
    border-bottom: 1px solid #eee;
}


.card-themes {
    font-family: OpenSans-Bold, sans-serif;
    /* position: relative; */
    line-height: 4.7rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: #000;
}


.card-themes:hover {
    color: #b59f5b;
}

.count {
    color: #b59f5b;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 0.5rem;
    line-height: 3.7rem;
}

/* footer footer footer*/

.cards__blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    min-width: 36rem;
    margin-left: auto;
    margin-right: auto;

}


.card-footer {

    width: 100%;
    min-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1%;

}

.footer-container {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f4f6f7;
}


.footer_pic {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

.ft_pic {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background-repeat: no-repeat;
    background-size: 2.2rem;
    background-position: center;
}

.footer_icon_dribbble {
    background-image: url("../svg/001-dribbble.svg");
}

.footer_icon_pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

.footer_icon_tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.footer_icon_twitter {
    background-image: url("../svg/004-twitter.svg");
}

.footer_link-copyrights {
    display: flex;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 1.2rem;
    line-height: 4rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 6rem;
    margin-bottom: 3.5rem;
    text-transform: capitalize;

}

.footer_link {
    color: #999;

}

.footer_link:hover {
    color: #b59f5b;
}

.visually-hidden {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    margin: -0.1rem;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* media media media */



@media (min-width: 1200px) {
    .picture_trends:nth-child(n+2) {
        margin-left: 0.4rem;
    }

    .card_content {
        justify-content: space-between;
    }

    .card-shop {
        width: 30%;
    }

    .header {
        background-image: url("../images/banner-bg.jpg");
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .picture_trends {
        width: calc(50% - 0.3rem);
        margin-bottom: 0.3rem;
    }

    .picture_trends:nth-child(even) {
        margin-left: 0.3rem;
    }

    .header-logo {
        padding-left: 25px;
    }

    .card_content {
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .sidebar {
        width: 31%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    .postlist {
        width: 63%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    .container-headline {
        max-width: 70rem;
        width: 88%;
    }


    .headline {
        font-size: 5rem;
    }

    .trends-pic {
        display: flex;
        flex-wrap: wrap;

    }

    .header {
        background-image: url("../images/banner-bg-tablet.jpg");
        max-width: 100%;
    }

    .frame {
        margin-top: 18px;
        width: 80%;
        padding: 0;
    }

    .card-title {
        font-size: 1.6rem;
        line-height: 1.4;
    }

    .card-shop {
        width: 48%;


        padding-left: 5%;
        padding-right: 5%;

    }

    .content_shop {
        width: 90%;
        height: auto;

    }

    .shop_img {
        width: 100%;
    }

    .card-shop:last-child {
        margin-top: 6rem;
    }

    .card-shop:nth-child(2) {
        margin-right: 1%;
    }

    .card-shop:nth-child(1) {
        margin-left: 1%;
    }

}


@media (max-width: 640px) {
    .header {
        background-image: url("../images/banner-mobile.jpg");
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 100vmax;
        padding: 28px 0;

    }

    .trends-pic {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

    }

    .picture_trends {
        /* width: calc(100% - 0.3rem); */
        width: 90%;
        margin: 0.3rem;

    }

    .container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .header-logo {
        margin-top: 33%;
        width: 28rem;
    }

    .container-headline {
        width: 28rem;
    }


    .headline {
        font-size: 2.6rem;
        margin-top: 1.5rem;
    }

    .frame {
        margin-top: 18px;
        width: 90%;
        padding: 0;
    }

    .card-text {
        padding-top: 0;
        width: 32rem;
    }

    .card-title {
        font-size: 1.7rem;
    }

    .travel-health::after {
        display: block;
        content: '';
        background: #eee;
        width: 100%;
        height: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .card-shop {
        margin: 3rem auto;
        width: 100%;

    }

    .products-pic {
        flex-direction: column;
    }

    .card_content {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .sidebar {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

    }

    .postlist {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }


    .travel-health {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* гамбургер-меню  гамбургер-меню   гамбургер-меню */

@media (max-width:640px),
(min-width: 641px) and (max-width: 1199px) {

    .menu {
        display: none;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    .menu__btn {
        display: block;
        position: relative;
        /* top:5px; */
        right: 30px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width:640px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .tablet__menu {
        align-self: flex-end;
    }

    .container {
        flex-flow: column-reverse;
    }

    .menu__btn {
        display: block;
        position: relative;
        bottom: 90%;
        left: 50%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
}

/* Pop-up */


.popup-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    z-index: 8;
}

.popup-container {

    position: relative;
    max-width: 39rem;
    width: 88%;
    max-height: 58.5rem;
    margin: auto;

}

.popup {
    width: 100%;
    max-width: 39rem;
    padding: 55px 30px;
    background: #ffffff;
    margin: auto;
}

.popup-header-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.popap__header_title {
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
    text-transform: uppercase;
}

.popup-header-container::after {
    content: "";
    display: inline-block;
    width: 6.5rem;
    height: 3px;
    background-color: #ded8c8;
    background-position: center center;
}


.form-group-popup {
    display: block;
    margin-top: 30px;
}

.form-group:last-child {
    text-align: center;
}

.label__question {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
}

.select {

    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    background-color: rgb(244, 247, 246);
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding-left: 20px;
    margin: 0;
    border: none;
    font-size: 13px;
    color: #979393;

}

.field:focus,
.select:focus {
    outline: 2px solid #b59f5b;
}

.textarea {
    width: 100%;
    min-width: 200px;
    max-width: 3000px;
    height: 130px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: rgb(244, 247, 246);
    border: none;
}

.radio-group {
    display: inline-block;
    font-size: 13px;
}

.radio-group:nth-of-type(even) {
    margin-left: 25px;
}

.radio-group-text::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}

.radio:checked~.radio-group-text::before {
    background-image: url("../svg/form-circle.svg");
}

.button {
    border: none;
    padding: 15px 55px;
    color: #ffffff;
    width: 100%;
    background-color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.button:focus {
    background-color: #323232;
    outline: none;
}

.popup__close {
    width: 1.4em;
    height: 1em;
    font-size: 20px;
    position: absolute;
    top: -1.5em;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.popup__close:after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close:before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.popup__close:before,
.popup__close:after {
    content: "";
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.4em;
    height: 0.2em;
}